[submodule "plugins/slackbot"]
	path = plugins/slackbot
	url = https://github.com/humanmade/Slackbot.git

[submodule "plugins/coffee-break/vendor/cmb2"]
	path = plugins/coffee-break/vendor/cmb2
	url = https://github.com/CMB2/CMB2.git
